.tabla--master{
    padding-top: 30px;
    margin-bottom: 50px;
}

table.cik--tabla {
    font-family: Arial, Helvetica, sans-serif;
    width: 86%;
    text-align: right;
    border-collapse: collapse;
    margin:auto;
  }
  table.cik--tabla td, table.cik--tabla th {
    border: 0px solid #AAAAAA;
    padding: 10px;
  }
  table.cik--tabla tbody td {
    font-size: 14px;
  }
  table.cik--tabla tr:nth-child(even) {
    background: #f8f8f8;
  }
  table.cik--tabla thead {
    }
  table.cik--tabla thead th {
    font-size: 15px;
    font-weight: bold;
  }
  table.cik--tabla tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.cik--tabla tfoot td {
    font-size: 14px;
  }
  table.cik--tabla tfoot .links {
    text-align: left;
  }
  table.cik--tabla tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

.left-tabla{
    text-align: left;
    padding-left: 20px;
}

.tabla-derecha{
    text-align: right;
}

/* Dispositivos muy pequeños */
@media only screen and (max-width: 600px) {
    .cikContainer--2022{
        margin: auto;
    }
    .cikMinilandingImages--2022{
        width: 80%;
        margin: auto;
    }

/* ---------------Área del vídeo----------- */

    .cikVideo--2022{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .cikVideo--2022 iframe{
        margin: auto;
        width: 85%;
        height: 250px;
    }

    /* ----------_Texto_----------------- */

    .cikTextCard--2022{
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin-left: 50px;
        margin-right: 50px;
    }

    .cikTextCard--2022 h2{
        font-size: 1.8rem;
    }

    .cikTextCard--2022 h3{
        font-size: 1.5rem;
    }

    .cikTextCard--2022 p{
        color: gray;
        font-size: 1rem;
    }

    /* ---------------Área una columna----------- */

    .cikOneColumn--2022{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    /* -----------Columnas de 2 */
    .cikTwoColumn--2022{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .insideColumn--2022{
        display: flex;
        flex-direction: column;
    }

    /* ------------Separador---------------- */

    .cikHr--2022{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0));

    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cikContainer--2022{
        margin: auto;
        padding-bottom: 20px;
    }
    .cikMinilandingImages--2022{
        width: 85%;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

/* ---------------Área del vídeo----------- */

    .cikVideo--2022{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .cikVideo--2022 iframe{
        margin: auto;
        width: 85%;
        height: 350px;
    }

    /* ----------_Texto_----------------- */

    .cikTextCard--2022{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
    }

    .cikTextCard--2022 h2{
        font-size: 1.8rem;
    }

    .cikTextCard--2022 h3{
        font-size: 1.5rem;
    }

    .cikTextCard--2022 p{
        color: gray;
        font-size: 1rem;
    }

    /* ---------------Área una columna----------- */

    .cikOneColumn--2022{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    /* -----------Columnas de 2 */
    .cikTwoColumn--2022{
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .insideColumn--2022{
        display:flexbox;
        flex-direction: column;
        margin: 0 10px 0 10px;
        width: 45%;
    }
    
    .insideColumn--2022 img{
        margin-left: 10%;
        margin-right: 10%;
    }

    .insideColumn--2022 h3{
        min-height: 50px;
    }

    /* ------------Separador---------------- */

    .cikHr--2022{
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0));

    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .cikContainer--2022{
        margin: auto;
    }

    .cikVideo--2022 iframe{
        height: 480px;
    }

    .cikOneColumnImg--2022{
        width: 70%;
    }

    .cikOneColumnText--2022{
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cikContainer--2022{
        margin: auto;
    }

    .cikVideo--2022 iframe{
        height: 550px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cikContainer--2022{
        max-width: 1200px;
    }
}
